
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <link rel="stylesheet" href="../static/css/Headers.css">
</head>
<body>
	<header id = "Customer_header">
	<div id = "header">
	<div class = "container">
		<nav>
			<img src = "../static/images/logohead.png" alt="logoheader" class = "logohead">
			<ul class = "dir">
				<li><a href='#1'>Home </a></li>
				<li><a href="#2">About</a></li>
				<li><a href="{% url 'Memorials' %}">Columbary</a></li>
                <li><a href='#1'>Contacts</a></li>
			</ul>
		</nav>
	</div>	
	</header>
</body>


</html>