{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/Headers.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
  <header>
    <div id="header">
      <div class="container">
        <nav>
          <img src="{% static 'images/sa_logo.gif' %}" alt="logoheader" class="logohead">
          <ul class="headname">
            <li><a href="{% url 'dashboard' %}"><i class="fas fa-home"></i> HOME</a></li>
            <li><a href="{% url 'columbaryrecords' %}"><i class="fas fa-folder-open"></i> RECORDS</a></li>
            <li><a id="logoutBtn" href="{% url 'account_logout' %}" class="custom-signup-btn mb-2">
                <i class="fas fa-sign-out-alt"></i> LOG OUT
            </a></li>
        </ul>               
        </nav>
    </div>
</body>
</html>

