# OSX #
.DS_Store

# Byte-compiled / optimized / DLL files #
__pycache__/
*.py[cod]
*$py.class

# Django #
*.log
db.sqlite3
media

# Virtual environment
.venv
venv
# environment file
.env
.env.local
.env.prod

my.cnf
.vscode
