<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../../static/css/Customer.css">
</head>
<body>
    <img src="../../static/images/BGM.jpg" alt="Background" class="background">
    <div id="header">
        {% include '../Headers_Customers.html' %}
    </div>
    <div class="content">
        <h1>Avail a Columbary now!</h1>
        <button class="btn" onclick="openModal()">Avail Now!</button>
    </div>
    <div class="modal" id="modal">
        <div class="modal-content">
            <form>
                <input type="text" placeholder="First Name" required id="fn">
                <input type="text" placeholder="Last Name" required id="ln">
                <input type="email" placeholder="Email Address" required>
                <input type="tel" placeholder="Mobile Number" required>
                <button type="submit">Send Letter of Intent</button>
            </form>
        </div>
    </div>
    <div class="tour">
        <h1 id = 'txt'>Discover the splendor of the <br> Shrine and Columbarium.</br><span id = 'txt2'><br>Embark on a serene journey with our 
            immersive <br>360° Virtual Tour of the Shrine and Columbarium.<br> Explore the sacred spaces and stunning architecture of<br> 
            this revered site, all from the comfort of your device.</h1>
        
        <img src = "../../static/images/360.png" id = 'tour'>
        <div class = 'about'>
        <h1> Know More About Us!</h1>
        <div class="card">
            <img src= "../../static/images/history.png" id = "History">
                <g transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                    <path d="M 37.712 41.541 c -2.437 -10.14 2.919 -19.609 8.772 -25.137 c -6.221 11.54 -7.41 20.104 -3.461 33.177 l 2.29 -0.854 c -0.882 -2.464 -1.413 -4.873 -1.685 -7.241 c 8.23 -2.355 13.883 -7.209 15.231 -15.926 C 59.796 13.651 52.042 6.72 43.718 0.117 c 3.04 9.758 -11.581 17.964 -10.296 30.949 c 0.271 2.741 0.697 5.33 1.326 7.825" fill="#7FB241"></path>
                    <path d="M 34.069 30.999 c 0.917 -12.923 13.599 -21.098 9.649 -30.883 c 1.394 8.216 -9.771 12.38 -12.663 22.195 c -1.575 5.836 -1.151 11.452 3.693 16.579 C 34.119 36.396 33.937 33.751 34.069 30.999 z" fill="#719C40"></path>
                    <polygon points="68.77,61.09 70.46,47.61 43.69,47.61 19.54,47.61 21.23,61.09" fill="#A07E63"></polygon>
                    <polyline points="63.11,61.09 59.5,90 44.01,90 30.5,90 26.89,61.09" fill="#A07E63"></polyline>
                    <polygon points="62.61,65.09 63.11,61.09 26.89,61.09 27.39,65.09" fill="#916B4D"></polygon>
                </g>
            </svg>
    
            <p class="card-title">Our History</p>
            <p class="card-subtitle">One of Kind & Unique Plants Collection Here at SMKY.</p>
            <div class="card-footer">
                <p class="price">$21.00</p>
                <p class="order-button">Order Now</p>
            
            </div>
        </div>
            <div class="card">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
            <g transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                <path d="M 37.712 41.541 c -2.437 -10.14 2.919 -19.609 8.772 -25.137 c -6.221 11.54 -7.41 20.104 -3.461 33.177 l 2.29 -0.854 c -0.882 -2.464 -1.413 -4.873 -1.685 -7.241 c 8.23 -2.355 13.883 -7.209 15.231 -15.926 C 59.796 13.651 52.042 6.72 43.718 0.117 c 3.04 9.758 -11.581 17.964 -10.296 30.949 c 0.271 2.741 0.697 5.33 1.326 7.825" fill="#7FB241"></path>
                <path d="M 34.069 30.999 c 0.917 -12.923 13.599 -21.098 9.649 -30.883 c 1.394 8.216 -9.771 12.38 -12.663 22.195 c -1.575 5.836 -1.151 11.452 3.693 16.579 C 34.119 36.396 33.937 33.751 34.069 30.999 z" fill="#719C40"></path>
                <polygon points="68.77,61.09 70.46,47.61 43.69,47.61 19.54,47.61 21.23,61.09" fill="#A07E63"></polygon>
                <polyline points="63.11,61.09 59.5,90 44.01,90 30.5,90 26.89,61.09" fill="#A07E63"></polyline>
                <polygon points="62.61,65.09 63.11,61.09 26.89,61.09 27.39,65.09" fill="#916B4D"></polygon>
            </g>
        </svg>

        <p class="card-title">Calathea Orbifolia</p>
        <p class="card-subtitle">One of Kind & Unique Plants Collection Here at SMKY.</p>
        <div class="card-footer">
            <p class="price">$21.00</p>
            <p class="order-button">Order Now</p>
        </div>
    </div>
    <div class="card">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256">
            <g transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                <path d="M 37.712 41.541 c -2.437 -10.14 2.919 -19.609 8.772 -25.137 c -6.221 11.54 -7.41 20.104 -3.461 33.177 l 2.29 -0.854 c -0.882 -2.464 -1.413 -4.873 -1.685 -7.241 c 8.23 -2.355 13.883 -7.209 15.231 -15.926 C 59.796 13.651 52.042 6.72 43.718 0.117 c 3.04 9.758 -11.581 17.964 -10.296 30.949 c 0.271 2.741 0.697 5.33 1.326 7.825" fill="#7FB241"></path>
                <path d="M 34.069 30.999 c 0.917 -12.923 13.599 -21.098 9.649 -30.883 c 1.394 8.216 -9.771 12.38 -12.663 22.195 c -1.575 5.836 -1.151 11.452 3.693 16.579 C 34.119 36.396 33.937 33.751 34.069 30.999 z" fill="#719C40"></path>
                <polygon points="68.77,61.09 70.46,47.61 43.69,47.61 19.54,47.61 21.23,61.09" fill="#A07E63"></polygon>
                <polyline points="63.11,61.09 59.5,90 44.01,90 30.5,90 26.89,61.09" fill="#A07E63"></polyline>
                <polygon points="62.61,65.09 63.11,61.09 26.89,61.09 27.39,65.09" fill="#916B4D"></polygon>
            </g>
        </svg>

        <p class="card-title">Calathea Orbifolia</p>
        <p class="card-subtitle">One of Kind & Unique Plants Collection Here at SMKY.</p>
        <div class="card-footer">
            <p class="price">$21.00</p>
            <p class="order-button">Order Now</p>
        </div>
    </div>
        </div>
    </div>
    


    <script src="../../static/js/Customer.js"></script>
</body>
</html>
