<!DOCTYPE html>
<html>
<head>
<title>Virtual Tour</title>
<meta charset="utf-8">
<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
<style> @-ms-viewport { width: device-width; } </style>
<link rel="stylesheet" href="../app-files/vendor/reset.min.css">
<link rel="stylesheet" href="../app-files/style.css">
</head>
<body class="multiple-scenes ">

<div id="pano"></div>

<div id="sceneList">
  <ul class="scenes">
    
      <a href="javascript:void(0)" class="scene" data-id="0-entrance">
        <li class="text">Entrance</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="1-3rd-2">
        <li class="text">3rd-2</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="2-4th">
        <li class="text">4th</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="3-4th-2">
        <li class="text">4th-2</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="4-5th">
        <li class="text">5th</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="5-6th_">
        <li class="text">6th_</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="6-7th">
        <li class="text">7th</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="7-8th">
        <li class="text">8th</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="8-9th">
        <li class="text">9th</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="9-10th">
        <li class="text">10th</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="10-11th">
        <li class="text">11th</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="11-11th_right_">
        <li class="text">11th_right_</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="12-14th">
        <li class="text">14th</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="13-15th">
        <li class="text">15th</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="14-fountain_">
        <li class="text">Fountain_</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="15-statue_1">
        <li class="text">Statue_1</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="16-statue_2">
        <li class="text">Statue_2</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="17-2nd">
        <li class="text">2nd</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="18-2nd_entrance">
        <li class="text">2nd_entrance</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="19-2nd-2">
        <li class="text">2nd-2</li>
      </a>
    
      <a href="javascript:void(0)" class="scene" data-id="20-3rd_">
        <li class="text">3rd_</li>
      </a>
    
  </ul>
</div>

<div id="titleBar">
  <h1 class="sceneName"></h1>
</div>

<a href="javascript:void(0)" id="autorotateToggle">
  <img class="icon off" src="../app-files/img/play.png">
  <img class="icon on" src="../app-files/img/pause.png">
</a>

<a href="javascript:void(0)" id="fullscreenToggle">
  <img class="icon off" src="../app-files/img/fullscreen.png">
  <img class="icon on" src="../app-files/img/windowed.png">
</a>

<a href="javascript:void(0)" id="sceneListToggle">
  <img class="icon off" src="../app-files/img/expand.png">
  <img class="icon on" src="../app-files/img/collapse.png">
</a>

<a href="javascript:void(0)" id="viewUp" class="viewControlButton viewControlButton-1">
  <img class="icon" src="../app-files/img/up.png">
</a>
<a href="javascript:void(0)" id="viewDown" class="viewControlButton viewControlButton-2">
  <img class="icon" src="../app-files/img/down.png">
</a>
<a href="javascript:void(0)" id="viewLeft" class="viewControlButton viewControlButton-3">
  <img class="icon" src="../app-files/img/left.png">
</a>
<a href="javascript:void(0)" id="viewRight" class="viewControlButton viewControlButton-4">
  <img class="icon" src="../app-files/img/right.png">
</a>
<a href="javascript:void(0)" id="viewIn" class="viewControlButton viewControlButton-5">
  <img class="icon" src="../app-files/img/plus.png">
</a>
<a href="javascript:void(0)" id="viewOut" class="viewControlButton viewControlButton-6">
  <img class="icon" src="../app-files/img/minus.png">
</a>

<script src="../app-files/vendor/screenfull.min.js" ></script>
<script src="../app-files/vendor/bowser.min.js" ></script>
<script src="../app-files/vendor/marzipano.js" ></script>

<script src="../app-files/data.js"></script>
<script src="../app-files/index.js"></script>

</body>
</html>
