<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../../static/css/Memorials.css">
</head>

<div class="form-container">
    <h1>Please Insert your Correct email address to retrieve your information</h1>
    <form>
      <input type="email" placeholder="Email Address" required>
      <br>
      <button type="submit">Enter</button>
    </form>
  </div>