<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../../static/css/Memorials.css">
</head>
<body>
<button onclick = location.href="{% url 'Customer_Home' %}" class="custom-button" type= 'button' >
    <div class="button-overlay">
      <svg
        width="25px"
        height="25px"
        viewBox="0 0 1024 1024"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill="#000000"
          d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"
        ></path>
        <path
          fill="#000000"
          d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"
        ></path>
      </svg>
    </div>
  </button>

<div class="form-container">
    <h1>Please Insert your Correct email address to retrieve your information</h1>
    <form>
      <input type="email" placeholder="Email Address" required>
      <br>
      <button type="submit">Enter</button>
    </form>   
  </div>
</body>