<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../../static/css/Memorials.css">
</head>
<body>
<div class ="logo">
    <img src ="../../static/images/St.Alphonsus.png" onclick="window.location.href='{% url 'Customer_Home' %}'" />
</div>

  <div class="form-container">
    <h1>Please insert your correct email address to retrieve your vault information</h1>
    {% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    <form method="POST" action="{% url 'memorials_verification' %}">
      {% csrf_token %}
      <label for="email">Enter your email address:</label>
      <input type="email" name="email" required>
      <button type="submit">Verify</button>
  </form>
</div>
</body>