.vid_container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

.myvideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

.content-container {
  position: relative;
  z-index: 1;
}

.pricing-header {
  text-align: center;
  padding: 3rem;
}
