    .hover-effect {
        cursor: pointer;
        
    }

    .logo{
        z-index: 1001;
        cursor: pointer;
    }
    
    .hover-effect:hover {
        fill: blue;
    }
    #svg-container {
        width: 500px; /* Set the desired visible area */
        margin-bottom: 15.5px;
        height: 539px;
        overflow: hidden;
        border: 1px solid #000;
        position: relative;
        background-color: #dbeafe;;
        cursor: grab;
        margin-left:640px ;
        z-index: 999;
    }
    
    #svg-container:active{
        cursor: grabbing;
    }

    body{
        background-image: url(../images/slide_03.jpg);
        background-size: cover;
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        height: 100vh; /* Makes the container full height of the viewport */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }

    #loading-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7); /* Dark transparent background */
        display: flex;
        backdrop-filter: blur(10px); /* Adds blur effect */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 9999;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    .legend img{
        width: 80px;
        height: 80px;
        margin-left: 43%;
        margin-top: 170px;
        position: absolute;
        z-index: 1000;
    }

    #loading-screen img {
        width: 100px; /* Adjust size as needed */
        height: auto;
        margin-bottom: -20px;
    }

    #loading-text {
        text-align: center;
        max-width: 300px;
    }

    #grab{
        cursor: grab; /* Default cursor */
    }
    #grab:active {
        cursor: grabbing; /* When dragging */
    }

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #012b57;
    padding: 20px;
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 5);
    margin-left:-200px; ;
}
.popup svg {
    width: 300px;
    height: auto;
    z-index: 1;
}

.logo{
    position: absolute;
    z-index: 1001;
    margin-right: 78%;
    margin-bottom: 43%;
}

#note{
    font-family: sans-serif;
    font-size: 15px;
    text-align: left;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    position: absolute;
    margin-top: -350px;
    z-index: 1;
}   
.container svg{
    width: 700px;
    z-index: 1;
}

.form-container {
    width: 100%;
    max-width: 250px;
    height: 350px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -300px;
    color: white;
    font-family: 'Open Sans',sans-serif;
    z-index: 2;
}

.selected{
    font-family: 'Open Sans',sans-serif;
    color: white;
    font-size: 30px;
}


input{
    width: 100%;
    height: 30px;
    padding: 15 px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    z-index: 2;
}
select{
    width: 83%;
    margin-left: 7px;
    height: 30px;
    padding: 15 px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
    z-index: 2;
}


input:focus, select:focus {
    border-color: #007bff;
}

.submit-btn{
    width: 103%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #2e93fe;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    margin-top: 10px;
    font-family: sans-serif;
    z-index: 2;
}

.submit-btn:hover{
    background-color: white;
    transition: ease-in-out 0.5s;
}

.details{
    font-family: sans-serif;
    color: white;
}

.close-btn{
    font-size: 10px;
    margin-left: -260px;
    margin-top: 70px;
    font-style: bold;
    border: none;
    width: 50px;
    padding: 5px;
    font-size: 10px;
    font-family: sans-serif;
    border-radius: 50px;
    background-color: #2e93fe;
    cursor: pointer;
    z-index: 2;
}

.close-btn:hover{
    background-color: white;
    transition: ease-in 1s;
}

form {
    display: flex;
    flex-direction: column;
}

#zoomable-svg{
    margin-bottom:10%;
}