    .hover-effect {
        cursor: pointer;
        
    }

    .hover-effect:hover {
        fill: blue;
    }
    #svg-container {
        width: 1200px; /* Set the desired visible area */
        height: 600px;
        overflow: hidden;
        border: 1px solid #000;
        position: relative;
        border-radius: 10px;
        background-color: #ffffff86;
        cursor: grab;
    }
    
    #svg-container:active{
        cursor: grabbing;
    }

    body{
        background-image: url(../images/Front.jpg);
        background-size: cover;
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        height: 100vh; /* Makes the container full height of the viewport */
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }

    #grab{
        cursor: grab; /* Default cursor */
    }
    #grab:active {
        cursor: grabbing; /* When dragging */
    }

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.833);
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.popup svg {
    width: 300px;
    height: auto;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    position: absolute;
    margin-top: -290px;
}   
.container svg{
    width: 700px;
}

.form-container {
    width: 100%;
    max-width: 250px;
    height: 350px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -250px;
    color: white;
    font-family: sans-serif;
}

#level-select{
    color: white;
    font-family: sans-serif;
}

input{
    width: 100%;
    height: 30px;
    padding: 15 px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}
select{
    width: 83%;
    margin-left: 7px;
    height: 30px;
    padding: 15 px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}


input:focus, select:focus {
    border-color: #007bff;
}

.submit-btn{
    width: 103%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    margin-top: 10px;
    font-family: sans-serif;
}

.details{
    font-family: sans-serif;
    color: white;
}

.close-btn{
    font-size: 10px;
    margin-left: -260px;
    margin-top: 75px;
    width: 50px;
    padding: 5px;
    font-family: sans-serif;
    border-radius: 50px;
    background-color: #007bff;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.818);;
}

.close-btn:hover{
    background-color: white;
    transition: ease-in;
}

form {
    display: flex;
    flex-direction: column;
}