body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("../images/BGM.jpg");
  }

  .form-container {
    text-align: center;
    background-color: #ffffff;
    width: 50%;
    height: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .form-container h1 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333333;
  }

  .form-container input[type="email"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    margin-bottom: 15px;
  }

  .form-container input[type="email"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }

  .form-container button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .form-container button:hover {
    background-color: #0056b3;
  }