body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("../images/BGM.jpg");
  }

  .form-container {
    text-align: center;
    background-color: #ffffff;
    width: 50%;
    height: auto;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-right: 100px;
  }

  .form-container h1 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333333;
  }

  .form-container input[type="email"] {
    width: 300px;
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 30px;
    font-size: 14px;
    outline: none;
    margin-bottom: 15px;
    width: 700px;
  }

  .form-container input[type="email"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }

  .form-container button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 30px;
    width: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .form-container button:hover {
    background-color: #0056b3;
  }

  .custom-button {
    position: relative;
    display: inline-block;
    width: 12rem;
    height: 3.5rem;
    border: 4px solid white;
    background-color: white;
    color: black;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: left;
    margin-top: -47%;
    margin-left: -17%;
    width: 300px;
  }
  
  .custom-button:hover .button-overlay {
    width: 100%;
  }
  
  .custom-button .button-overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 3rem;
    width: 25%;
    background-color: #007bff; /* Green color */
    border-radius: 0.75rem;
    display: grid;
    place-items: center;
    transition: width 0.5s ease;
    z-index: 1;
  }
  
  .custom-button .button-text {
    position: relative;
    z-index: 2;
    margin: 0;
    transform: translateX(0.25rem);
  }